body {
    margin: auto;
}

h1 {
    color: #950606;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    color: #af2828;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -0.09rem;
}

a {
    border-style: solid;
    border-width: 0.5px;
    border-color: #850c0c;
    color: #850c0c;
    text-decoration: none;
    padding: 5px 6px;
    border-radius: 5px;
}

button {
    background-color: inherit;
    color: #850c0c;
    padding: 5px 6px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #850c0c;
    border-radius: 5px;
}

table {
    margin: 20px auto;
}

th, td {
    padding: 15px 10px;
}

th {
    background-color: #850c0c;
    color: white;
}

td {
    height: 30px;
}

tr:hover {
    background-color: #ffbfbf;
}

form {
    display: grid;
    grid-template-columns: 170px 450px;
    border: 1px;
    margin: 20px auto;
    gap: 15px 10px;
    justify-content: center;
    align-items: center;
}

form button {
    grid-column: span 2;
    justify-self: center;
}

form input, form select, form textarea {
    padding: 4px 7px;
    border-radius: 5px;
    border-width: 1px;
}

form input:focus, form select:focus, form textarea:focus {
    border-color: #850c0c;
}

textarea {
    background-color: inherit;
}

label {
    text-align: right;
}

input[type="hidden"] {
    display: none;
}

hr {
    border-width: 3px;
    border-color: #850c0c;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.no_break {
    white-space: nowrap;
}

.web-content {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    margin-bottom: 5px;
}

.one-row-comment {
    display: flex;
    align-items: center;
    gap: 10px;
}

.one-row-comment textarea {
    min-width: 100px;
    width: 100%;
    height: 80px;
    resize: vertical;
}

td:last-child {
    white-space: nowrap;
}

@media (max-width: 768px) {
    h1 {
        margin: 5px;
    }

    table {
        display: block;
        margin: 5px;
        overflow-x: auto;
        margin-bottom: 10px;
    }

    td a, td button {
        display: block;
        width: 100%;
        min-width: 100%;
        text-align: center;
        padding: 8px 5px;
        margin: 3px 0;
    }

    th, td {
        padding: 2px 5px;
    }
    
    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        gap: 5px;
    }

    label {
        text-align: left;
        width: 100%;
        max-width: 100%;
        margin-top: 5px;
    }

    form input, form select, form textarea {
        width: 100%;
        max-width: 100%;
    }

    .one-row-comment {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .one-row-comment button {
        display: inline-block;
        width: auto;
        min-width: 50px;
        padding: 5px;
    }

    .one-row-comment textarea {
        width: 50%;
    }
}

@media (max-width: 500px) {
    .navbar {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .navbar-text {
        display: block !important;
        text-align: center !important;
        width: 100% !important;
        margin: 0px !important;
        padding: 0px !important;
    }

    .navbar-nav {
        display: flex !important;
        flex-direction: row !important;
        width: 100% !important;
        min-width: 100% !important;
        justify-content: center !important;
        gap: 30px;
    }

    .navbar .container-fluid {
        gap: 0 !important;
    }

    .navbar-brand img {
        width: 35px;
    }
}